*~
*.junk
*.csv

.directory
data
Images
python files\.vscode\argv.json
python files\.vscode
python files\_pycache_
python files\python3.10
python files\results
python files\Trapping
python files\__pycache__

.vscode/settings.json
